<!DOCTYPE html>
<html>
<head>
<title>antiQKraft</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<style>
   #banner {
    width: 1240px;
    height: 230px;
    object-fit: cover;
   }
</style>

<body>
    <div class = container>
</head>
<h1>AntiQKraft</h1>
<p class="text-center" class="lead"><img class=img-fluid src= "http://127.0.0.1:5000/static/logo-black1.jpg" alt="logo-black" style="float:left;width:200px;height:200px;">
AntiQKraft is an eCommerce
    platform to buy and sell
    antique art and artifacts
    across a wide range of
    categories
</p>
<img id=banner src= "http://127.0.0.1:5000/static/image 39.jpg" alt="logo-black" style="width:1240px;height:230px;">
<h2 class="text-center mt-2 mb-4">Shop By Category</h2>
  <div class="text-center">
<button class="btn btn-primary btn-lg">Contact Us</button>
  </div>
<p class="text-center lead mt-6">Copy Right</p>
    </div>
</body>
</html>

